@import '../../scss/util.scss';


.radio-wrapper{
    display: inline-block;
    box-sizing: border-box;
    height: 20px;
    font-size: 14px;
    color: #666666;
    cursor: pointer;

    .radio{
        display: inline-block;
        background: #ffffff;
        border: 1px solid #D9D9D9;
        border-radius: 8px;
        box-sizing: border-box;
        width: 16px;
        height: 16px;
        vertical-align: middle;
        white-space: nowrap;

        position: relative;
        top: -2px;

    }

    .radio-text{
        padding: 0px 8px;
        height: 20px;
        line-height: 20px;
    }

    &.radio-checked{
        .radio{
            //background: #0099FF;
            border-color: #0099FF;
            &:before{
                content: '';
                display: table;
                background: #0099FF;
                border-radius: 4px;
                border-top: 0;
                border-left: 0;
                width: 8px;
                height: 8px;

                position: absolute;
                top: 3px;
                left: 3px;
            }
        }
    }

    &.radio-disabled{
        cursor: no-drop;
        .radio{
            background: #f5f5f5;
            border-color: #d9d9d9;
        }

        .radio-text{
            color: #D9D9D9;
        }

        &:hover{
            .radio{
                border-color: #D9D9D9;
            }
        }

        &.radio-checked{

            .radio{
                &:before{
                    background: #D9D9D9;
                }
            }
        }
    }

    &:hover{
        .radio{
            border-color: #0099FF;
        }
    }

}

.radio-group{
    .radio-item-wrapper{
        display: inline-block;
        box-sizing: border-box;
        height: 20px;
        font-size: 14px;
        color: #666666;
        cursor: pointer;
        margin-right: 15px;

        .radio-item{
            display: inline-block;
            background: #ffffff;
            border: 1px solid #D9D9D9;
            border-radius: 8px;
            box-sizing: border-box;
            width: 16px;
            height: 16px;
            vertical-align: middle;
            white-space: nowrap;

            position: relative;
            top: -2px;

        }

        .radio-item-text{
            padding: 0px 8px;
            height: 20px;
            line-height: 20px;
        }

        &.radio-item-checked{
            .radio-item{
                //background: #0099FF;
                border-color: #0099FF;
                &:before{
                    content: '';
                    display: table;
                    background: #0099FF;
                    border-radius: 4px;
                    border-top: 0;
                    border-left: 0;
                    width: 8px;
                    height: 8px;

                    position: absolute;
                    top: 3px;
                    left: 3px;
                }
            }
        }

        &:hover{
            .radio-item{
                border-color: #0099FF;
            }
        }
        &:last-child{
            margin-right: 0px;
        }

        &.radio-button-item-wrapper{
            border: 1px solid #D9D9D9;
            border-left: none;
            height: 32px;
            line-height: 32px;
            margin-right: 0px;

            position: relative;

            .radio-item{
                display: none;
            }
            &:hover{
                color: #0099FF;
            }
            &:first-child{
                border-radius: 5px 0px 0px 5px;
                border-left: 1px solid #D9D9D9;
                &:before{
                    display: none !important;
                }
            }
            &:last-child{
                border-radius: 0px 5px 5px 0px;
            }

            &:before{
                content: '';
                display: none;
                border-left: 1px solid #0099FF;
                width: 0px;
                height: 32px;
                position: absolute;
                top: -1px;
                left: -1px;
                //z-index: -1;
            }

            &.radio-item-checked{
                border-color: #0099FF;
                color: #0099FF;
                &:before{
                    display: block;
                    //z-index: 100;
                }
            }
        }
    }

    &.radio-group-disabled{
        .radio-item-wrapper{
            cursor: no-drop;
            .radio-item{
                background: #f5f5f5;
                border-color: #d9d9d9;
                &:before{
                    border-color: #d9d9d9;
                    background: #d9d9d9;
                }
            }

            &.radio-button-item-wrapper{
                border-color: #d9d9d9;
                background: #f5f5f5;
                color: #D9D9D9;
                &.radio-item-checked{
                    background: #e6e6e6;
                    border-color: #D9D9D9;
                    color: #ffffff;
                }
            }
        }

    }

}