@import '../../scss/util.scss';

.query-status{
    font-size: 14px;
    margin: 40px;
    color: #595959;
    display: flex;
    align-items: center;
    flex-direction: column;
    img{
        width: 80px;
        margin-bottom: 6px;
    }
}