@import '../../../scss/util.scss';
        .layout-footer {
            flex: 0 0 auto;
            text-align: center;
            color: #848587;
            font-size: 14px;
            padding: 58px 0 30px;
        }