@import './util.scss';

* {
    -webkit-box-sizing: border-box; box-sizing: border-box;
    &:after, &:before {
       @extend *;
    }
}

@font-face {
    font-family: 'PingFang SC';
    font-weight: 300;
    font-style: normal;
}

@font-face {font-family: "iconfont";
  src: url('../iconfont/iconfont.eot?t=1544669788947'); /* IE9*/
  src: url('../iconfont/iconfont.eot?t=1544669788947#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../iconfont/iconfont.woff?t=1544669788947') format('woff'),
  url('../iconfont/iconfont.ttf?t=1544669788947') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../iconfont/iconfont.svg?t=1544669788947#iconfont') format('svg'); /* iOS 4.1- */
}
.icon {
  font-family:"iconfont" !important;
//   font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-biaodanye:before { content: "\e69a"; }

.icon-bangzhu:before { content: "\e69b"; }

.icon-bianji:before { content: "\e69c"; }

.icon-chenggongmianxing:before { content: "\e69d"; }

.icon-dizhi:before { content: "\e69e"; }

.icon-fenxiang:before { content: "\e69f"; }

.icon-dianzan-xianxing:before { content: "\e6a0"; }

.icon-geren:before { content: "\e6a1"; }

.icon-gerenye:before { content: "\e6a3"; }

.icon-gerenshezhi:before { content: "\e6a5"; }

.icon-guanbi-da:before { content: "\e6a6"; }

.icon-gengduocaozuo:before { content: "\e6a7"; }

.icon-guanbi-xiao:before { content: "\e6a8"; }

.icon-jieguoye:before { content: "\e6a9"; }

.icon-bumen:before { content: "\e6aa"; }

.icon-liebiaoye:before { content: "\e6ab"; }

.icon-gengduo:before { content: "\e6ac"; }

.icon-pinglun:before { content: "\e6ad"; }

.icon-rili-you-dan:before { content: "\e6ae"; }

.icon-rili-zuo-dan:before { content: "\e6af"; }

.icon-rili-you-shuang:before { content: "\e6b0"; }

.icon-rili:before { content: "\e6b1"; }

.icon-rili-zuo-shuang:before { content: "\e6b2"; }

.icon-shangjiantou:before { content: "\e6b3"; }

.icon-shangxiajiantou-shang:before { content: "\e6b4"; }

.icon-shangchuan:before { content: "\e6b5"; }

.icon-shangxiajiantou:before { content: "\e6b6"; }

.icon-shezhi:before { content: "\e6b7"; }

.icon-shijian:before { content: "\e6b8"; }

.icon-shoucang-mianxing:before { content: "\e6b9"; }

.icon-guanbishibaimianxing:before { content: "\e6ba"; }

.icon-shoucang-xianxing:before { content: "\e6bb"; }

.icon-guanbishibaixianxing:before { content: "\e6bc"; }

.icon-sousuo:before { content: "\e6bd"; }

.icon-tianjia-mianxing:before { content: "\e6be"; }

.icon-tianjia:before { content: "\e6bf"; }

.icon-tongzhi-mianxing:before { content: "\e6c0"; }

.icon-shangxiajiantou-xia:before { content: "\e6c1"; }

.icon-tuding-mianxing:before { content: "\e6c2"; }

.icon-tuichudenglu:before { content: "\e6c3"; }

.icon-xiajiantou:before { content: "\e6c4"; }

.icon-xiangshangzuocedaohang:before { content: "\e6c5"; }

.icon-xiazai:before { content: "\e6c6"; }

.icon-xiangqingye:before { content: "\e6c7"; }

.icon-seban:before { content: "\e6c8"; }

.icon-xiangxiazuocedaohang:before { content: "\e6c9"; }

.icon-xiangxiazhankai:before { content: "\e6ca"; }

.icon-xiangyouzuocedaohang:before { content: "\e6cb"; }

.icon-xiaoxitongzhi:before { content: "\e6cc"; }

.icon-xinxi-mianxing:before { content: "\e6cd"; }

.icon-xinxi-xianxing:before { content: "\e6ce"; }

.icon-xiangzuoshensuo:before { content: "\e6cf"; }

.icon-xuanzhong:before { content: "\e6d0"; }

.icon-xiangyouzhankai:before { content: "\e6d1"; }

.icon-yingyong-mianxing:before { content: "\e6d2"; }

.icon-youjiantou:before { content: "\e6d3"; }

.icon-zhiye:before { content: "\e6d4"; }

.icon-zhengchangxianshi:before { content: "\e6d5"; }

.icon-yuyanqiehuan:before { content: "\e6d6"; }

.icon-yichangye:before { content: "\e6d7"; }

.icon-zuojiantou:before { content: "\e6d8"; }

.icon-dashboard:before { content: "\e6d9"; }

.icon-zuidahua:before { content: "\e6da"; }

.icon-yanjing:before { content: "\e6db"; }

.icon-lajitong:before { content: "\e6dc"; }

body, dl, dd, h1, h2, h3, h4, h5, p, figure, form, ul, ol { margin: 0;}
ul, ol, input, button { padding: 0;}
ul, ol, li { list-style: none;}
h1, h2, h3, h4, h5 { font-size: 100%;}
input { border: 0; margin: 0;}
img { width: 100%;}
a, button, input, optgroup, select, textarea, img { outline:none; -webkit-tap-highlight-color: rgba(0,0,0,0); }
a, img { -webkit-touch-callout: none; border: 0;}
html, body { position: absolute; min-height: 100%; width: 100%;}
input, textarea, img, button { vertical-align: middle; outline: none;}
body { font-family: PingFang SC, Microsoft YaHei, Helvetica, STHeiTi, sans-serif !important; color: #333; -webkit-font-smoothing: antialiased; font-smoothing: antialiased;}
table {border-collapse: collapse; border-spacing: 0;}

a{color:#1890ff;background-color:transparent;text-decoration:none;outline:none;cursor:pointer;transition:color .3s;-webkit-text-decoration-skip:objects;}a:focus{-webkit-text-decoration-skip:ink;text-decoration-skip:ink}a:hover{color:#40a9ff}a:active{color:#096dd9}a:active,a:hover{outline:0;}a[disabled]{color:rgba(0,0,0,.25);cursor:not-allowed;pointer-events:none}
.clearfix { zoom:1;}
.clearfix {
    &:before, &:after { content:""; display:table;}
    &:after { clear:both; }
}
body .none{
    display: none;
}

input[disabled="disabled"] {
    background-color: #e5e5e5;
}
textarea:disabled, input:disabled{
    background-color: #e5e5e5!important;
}

.fl, .left{ float: left; }

.fr, .right{ float: right; }

.mt0{margin-top: 0px;}

.mt10{margin-top: 10px;}

.mt30{margin-top: 30px;}

.mt40{margin-top: 40px;}

.mt50{margin-top: 50px;}

.ml5{margin-left: 5px;}


::-webkit-input-placeholder { /* WebKit browsers */ 
    color: $col11;
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
    color: $col11;
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color: $col11;
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: $col11;
}

input {
    transition: all .3s;
    &:focus {
        box-shadow: 0 0 0 2px rgba(24, 144, 255, .2);
    }
}

.select-dropdown-hidden { display: none !important;}
.select-dropdown-show { display: block !important; opacity: 0; }
.select-dropdown {
    @include transform(translateZ(0));
    @include transition(all .3s);
    -webkit-animation-name: SlideUpIn;
    animation-name: SlideUpIn;
}
.select-dropdown-up {
    @include transform(translateZ(0));
    @include transition(all .3s);
    -webkit-animation-name: SlideUpOut;
    animation-name: SlideUpOut;
}

.zoom-in {
    -webkit-animation-name: ZoomIn;
    animation-name: ZoomIn;
}

.zoom-out {
    -webkit-animation-name: ZoomOut;
    animation-name: ZoomOut;
}

.slide-up-enter,
.slide-up-appear,
.zoom-in-enter {
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    // -webkit-animation-play-state: paused;
    // animation-play-state: paused
}

.slide-up-leave,
.zoom-in-leave {
    opacity: 0;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    // -webkit-animation-play-state: paused;
    // animation-play-state: paused
}


@-webkit-keyframes SlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes SlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@-webkit-keyframes SlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }

    99% {
        opacity: 0;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }
}

@keyframes SlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }

    99% {
        opacity: 0;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }
}

@-webkit-keyframes SlideDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes SlideDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@-webkit-keyframes SlideDownOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }

    100% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }
}

@keyframes SlideDownOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }

    100% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(.8);
        transform: scaleY(.8)
    }
}

@-webkit-keyframes SlideLeftIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes SlideLeftIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@-webkit-keyframes SlideLeftOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    100% {
        opacity: 0;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }
}

@keyframes SlideLeftOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    100% {
        opacity: 0;
        -webkit-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }
}

@-webkit-keyframes SlideRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes SlideRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }

    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@-webkit-keyframes SlideRightOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    100% {
        opacity: 0;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }
}

@keyframes SlideRightOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }

    100% {
        opacity: 0;
        -webkit-transform-origin: 100% 0%;
        transform-origin: 100% 0%;
        -webkit-transform: scaleX(.8);
        transform: scaleX(.8)
    }
}


@-webkit-keyframes ZoomIn {
    0% {
        opacity: 0;
        @include transform(scale3d(.3, .3, .3));
    }

    50% {
        opacity: 1
    }
}
@keyframes ZoomIn {
    0% {
        opacity: 0;
        @include transform(scale3d(.3, .3, .3));
    }
    50% {
        opacity: 1
    }
}
@keyframes ZoomOut {
    0% {
        opacity: 1
    }

    80% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }

    to {
        opacity: 0;
        transform: scale3d(0, 0, 0)
    }
}
@-webkit-keyframes ZoomOut {
    0% {
        opacity: 1
    }

    80% {
        opacity: 0;
        transform: scale3d(.3, .3, .3)
    }

    to {
        opacity: 0;
        transform: scale3d(0, 0, 0)
    }
}



@media all and (min-width:320px) { html {font-size: 10px;}}
@media all and (min-width:360px) { html {font-size: 11.25px;}}
@media all and (min-width:375px) { html {font-size: 11.7188px;;}}
@media all and (min-width:480px) { html {font-size: 15px;}}
@media all and (min-width:640px) { html {font-size: 20px;}}
@media all and (min-width:720px) { html {font-size: 22.5px;}}